* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  place-items: center;
}

.App.dark-mode {
  background-color: hsl(235, 21%, 11%);
  background-image: url(/public/images/bg-desktop-dark.jpg);
}

.App.light-mode {
  background-color: hsl(0, 0%, 98%);
  background-image: url(/public/images/bg-desktop-light.jpg);
}

.container {
  width: 25em;
  height: 80%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 767px){
  .container{
    margin: 2rem;
  }
}
